include README.md
include curac_utils/data/a2gray.tiff
include curac_utils/data/CT_g.jpg
include curac_utils/data/CT_fid1.jpg
include curac_utils/data/CT_fid2.jpg
include curac_utils/data/MRT_g.jpg
include curac_utils/data/MRT_fid_t1.jpg
include curac_utils/data/MRT_fid_t2.jpg
include curac_utils/data/pointcloud1.xyz1
include curac_utils/data/pointcloud2.xyz1
